<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app" v-bind:class="{darkMode:mode}">
      <button @click="darkModeToggle">{{modeOn}}</button>
      <div id="cuadrao">
        <div id="left">
          <h1>{{greet('Tardes')}}</h1>
          <a v-bind:href="website">Website Link</a>
          <input type="text" :value="name" />
          <p v-html="websiteTag"></p>
          <button @click.once="addYears(1)">Add a year</button>
          <button @click="substractYears(1)">Subtract a year</button>
          <button @dblclick="addYears(10)">Add 10 years</button>
          <button @dblclick="substractYears(10)">Subtract 10 years</button>
          <p>My age is {{ age }}</p>
          <div id="canvas" v-on:mousemove="updateXY">{{x}},{{y}}</div>
          <a @click.prevent="click" href="http://www.mediktor.com">WWWWEBBB</a>
        </div>

        <div id="right">
          <h1>KeyBoard Events</h1>
          <label>Name:</label>
          <span>{{name}}</span>
          <input type="text" v-model="name" />
          <br />
          <br />
          <label>Age:</label>
          <span>{{age}}</span>
          <input type="text" v-model="age" />
        </div>
      </div>
      <div id="cuadrao">
        <div id="left-down">
          <h1>Computed Properties</h1>
          <button @click="a++">Add to A</button>
          <button @click="b++">Add to B</button>
          <p>A - {{a}}</p>
          <p>B - {{b}}</p>
          <p>Age + A = {{addToA}}</p>
          <p>Age + B = {{addToB}}</p>
        </div>

        <div id="right">
          <h1>Dynamic CSS</h1>
          <h2>Example 1</h2>
          <div :class="compClasses">
            <span>sadfsa</span>
          </div>
        </div>
      </div>
      <div id="cuadrao">
        <div id="left-down">
          <h1>Condificonals</h1>
          <button @click="error = !error">Toggle Error</button>
          <button @click="success = !success">Toggle Succes</button>
          <p v-if="error">There has been an error</p>
          <p v-else-if="success">YEEEES, succes</p>
          
        </div>

        <div id="right">
          <h1>Looping</h1>
          <ul>
            <li v-for="char in characters">{{char}}</li>
          </ul>
          <ul>
            <li v-for="(ninja, index) in ninjas">{{index}}. {{ninja.name}} age: {{ninja.age}}</li>
          </ul>

          
           <!-- Looping through OBJECTS  -->
           
          <template v-for="(ninja) in ninjas">
              <div v-for="(val,key) in ninja"> 
                <p>{{key}}: {{val}}</p>
              </div>
          </template>

            <!-- PUNCH BAG EXERCISE -->

            <div>
              <!-- BAG IMAGE -->
              <div id="bag" :class="{burst: ended}"></div>
              <!-- BAR HEALTH -->
              <div id="bag-health">
                <div v-bind:style="{width: health + '%'}" ></div>
              </div>
              <!-- GAME CONTROLS -->
              <div id="controls">
                <button @click="punch" v-show="!ended">Punch</button>
                <button @click="restart" >Restart</button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
