h1 {
  color: red;
}

#canvas {
  width: 600px;
  padding: 200px 20px;
  text-align: center;
  border: 1px solid #333;
}

#cuadrao {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

#right {
  margin-right: 500px;
}


.darkMode{
    background-color: black;
}

#bag {
  width: 200 px;
  height: 500px;
  margin: 0 auto;
  background: url(/img/bag.png) center no-repeat;
  background-size: 80%;
   
}

#bag.burst{
  background: url(/img/bag-burst.png) center no-repeat;
  background-size: 80%;
}

#bag-health{
  width: 200px;
  border: 2px solid #000;
  margin: 0 auto 20px auto;

}

#bag-health div{
  height: 20px;
  background: crimson;
}

#controls{
  width: 200px;
  margin: auto;
}